In [ ]:
Q1. List any five functions of the pandas library with execution.

In [ ]:
ANS -

In [ ]:
1 . Value_Counts() :
                    Pandas Value_Counts() function is used to show the counts of all unique elements in
        columns of a dataframe.
        
2 . Group_by() :
                With Pandas group_by, We can split and group our dataframe by certain columns to be able
        to view patterns and details in the data. Group_by involves 3 main steps:
            - Splitting , Applying and Combining.
            
3 . loc and iloc :
                  Indexing in pandas is one of the most basic operations and the best ways to do is using
        either loc or iloc. Loc stands for location and the i stands for indexed locations. In other words,
        when you want to index a dataframe using names or labels of columns/rows, you use loc. And when you 
        want to index columns or rows using the positions you use the iloc function.
        
4 . Unique() and nunique() :
                            Pandas unique is used to get all the uniques value from any feature. This is mostly used to get the 
        categorical in categorical features in the data. Unique shows all the unique values including NaNas. it treats it as a 
        different unique values.
        
5 . cut() and equal() :
                      Pandas cut it used to bin values in ranges in order to discretize the features. lets dive down to it. 
        Binning means coverting a numerical or continuous feature into a discrete set a values based on the ranges of the continous
        values This comes in handy when you want to see the trends based on what range the data point falls in.

In [ ]:
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

ANS -

In [1]:
import pandas as pd
import numpy as np

In [2]:
column = ['A' , 'B' , 'C']
index = [1, 3 , 5]

In [4]:
df = pd.DataFrame(np.random.rand(3,3),
        columns = column, index = index)

In [5]:
new_index = ['S' , 'H' , 'A']

In [6]:
print(df.reindex(new_index))

    A   B   C
S NaN NaN NaN
H NaN NaN NaN
A NaN NaN NaN

In [ ]:
Q3. Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

ANS -

In [41]:
import pandas as pd
import numpy as np
import seaborn as sns

In [42]:
df =[10, 20, 30, 40, 50]

In [43]:
def sum_first_three_values(df):
    total = df.iloc[0:3, df.columns.get_loc('Values')].sum()
    print(total)

In [44]:
df

[10, 20, 30, 40, 50]

In [ ]:
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

ANS -

In [ ]:
df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split(' ')))

In [ ]:
Q5. How are DataFrame.size() and DataFrame.shape() different?

ANS -

In [ ]:
Size :size and shape of a dataframe in pandas python, size of a dataframe is the number of fields in the dataframe
which is nothing but number of rows * numbers of columns. shape of a dataframe gets the number of rows and number
of columns of the dataframe.

In [ ]:
Q6. Which function of pandas do we use to read an excel file?

ANS -

In [ ]:
Pandas read_excel() function is used for reading the excel files. Files can be imported using a URL link
or can be directly imported from the disk. There are different parameters like io for path.sheet_name
for specifying the name of the sheet, tec. for reading the file.We can alos print specific columns using the usecols parameters.
We can also read multiple sheets. We  can also print subsets of the data.

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

ANS -

In [18]:
import pandas as pd

In [19]:
def extract_username(df):
    df['Username'] = df['Email'].str.extract(r'(.*)@')
    return df

In [20]:
df = pd.DataFrame({'Email': ['username1@domain.com', 'username2@domain.com', 'username3@domain.com']})
df = extract_username(df)
print(df)

                  Email   Username
0  username1@domain.com  username1
1  username2@domain.com  username2
2  username3@domain.com  username3

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

In [ ]:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

In [ ]:
Your function should select the following rows: A B C

In [ ]:
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

ANS -

In [60]:
def select_rows(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]

In [61]:
import pandas as pd

df = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
})

print(select_rows(df))

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [ ]:
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

ANS -

In [58]:
import pandas as pd

def calculate_mean_median_std(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    return mean, median, std

In [59]:
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5]})
mean, median, std = calculate_mean_median_std(df)
print(f"Mean: {mean}, Median: {median}, Standard Deviation: {std}")

Mean: 3.0, Median: 3.0, Standard Deviation: 1.5811388300841898

In [ ]:
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

ANS -

In [62]:
import pandas as pd

def add_moving_average_column(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return (df)

In [ ]:
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

ANS -

In [47]:
df = [
 2023-0o1-0o1,
 2023-0o1-0o2,
 2023-0o1-0o3,
 2023-0o1-0o4,
 2023-0o1-0o5]

In [48]:
import pandas as pd

def add_weekday_column(df):
    df['weekday'] = pd.to_datetime(df['date']).dt.day_name()
    return df

In [49]:
df

[2021, 2020, 2019, 2018, 2017]